[flake8]
# Let Black handle all the formatting.
ignore = E,B008,W503
max-line-length=120
exclude =
  biothings/utils/jsondiff.py,     # 3rd party code, don't touch
  biothings/utils/jsonpatch.py,    # 3rd party code, don't touch
  biothings/utils/parallel.py,     # deprecated code, don't touch
  biothings/utils/parallel_mp.py,  # deprecated code, don't touch
  biothings/utils/shelve.py,       # deprecated code, don't touch
  tests/snapshots,
  .svn,CVS,.bzr,.hg,.git,__pycache__,.tox,.eggs,*.egg
