[tool.black]
line-length = 99
target-version = ['py36', 'py37', 'py38', 'py39', 'py310']

[tool.isort]
profile = "black"
combine_as_imports = true
line_length = 159
src_paths = ["."]

[tool.pytest.ini_options]
markers = [
    "ReleaseNoteSrcBuildReaderAdapter",
    "ReleaseNoteSrcBuildReader",
    "ReleaseNoteSource",
    "ReleaseNoteTxt",
]
