beautifulsoup4
aiocron
asyncssh==1.7.1
pymongo
psutil
IPython
boto
jsonpointer
prettytable # diff report renderer
pympler # compute diff size
multiprocessing_on_dill # to replace pickler in concurrent.futures
