# Requirements for virtualenv when building sphinx documentation
#  using the dependencies specified in setup.py file
-e .[web_extra,hub,cli,docker_ssh,dev,docs]
#async-timeout==3.0.1    # solving a dependency issue under Python 3.7 (e.g. readthedocs)
#                       # async-timeout is a dependency of elasticsearch-async